@model IEnumerable<Papeleria.Models.Horarios>

@{
    ViewBag.Title = "Horarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Horarios</h2>

<p>
    @Html.ActionLink("Agregar nuevo turno", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Turno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dias_Semana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Inicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hora_Fin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Turno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dias_Semana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hora_Fin)
        </td>

        <td>
            <!--Se modificaron los botones dentro de un div para que se apilen verticalmente y se agrego icono en lugar de texto-->
            <div><a href="@Url.Action("Edit", new { id = item.ID_Turno })" class="btn btn-warning" title="Editar"><i class="fas fa-edit"></i><span class="sr-only">Editar</span></a></div>
            <div><a href="@Url.Action("Details", new { id = item.ID_Turno })" class="btn btn-primary" title="Información"><i class="fas fa-info-circle"></i><span class="sr-only">Detalles</span></a></div>
            <div><a href="@Url.Action("Delete", new { id = item.ID_Turno })" class="btn btn-danger" title="Borrar"><i class="fas fa-trash-alt"></i><span class="sr-only">Borrar</span></a></div>
        </td>
    </tr>
}

</table>
